<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Watchdog</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="module" src="./static/js/index.js"></script>
    <!-- Modules are treated like functions that can be called and accessed by other pieces of code; 
    they can't be accessed from a file system but rather need to be run through a server; Live Server -->
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold text-white" href="#">WATCHDOG</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold text-white" aria-current="page" href="#">MAP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white" href="#">REPORTS</a>
              </li>
          </div>
        </div>
      </nav>

    <div class="input-group mt-2 ms-1 w-25">
      <input id="pac-input1" class="controls form-control" type="text" placeholder="Enter Current Location"/>
      <span class="input-group-text bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-crosshair" viewBox="0 0 16 16">
          <path d="M8.5.5a.5.5 0 0 0-1 0v.518A7.001 7.001 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7.001 7.001 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7.001 7.001 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7.001 7.001 0 0 0 8.5 1.018V.5Zm-6.48 7A6.001 6.001 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6.001 6.001 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6.002 6.002 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6.001 6.001 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1h-.48ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        </svg>
      </span>
    </div>

    <div class="input-group mt-2 ms-1 w-25">
      <input id="pac-input2" class="controls form-control" type="text" placeholder="Enter Destination"/>
      <span class="input-group-text bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
      </span>
    </div>

    <div class="btn-group mt-2 ms-2" role="group" aria-label="Basic radio toggle button group">
        <input value="WALKING" type="radio" class="btn-check" name="mode" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="btnradio1">Walking</label>
      
        <input value="BICYCLING" type="radio" class="btn-check" name="mode" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnradio2">Bicycling</label>
      
        <input value="DRIVING" type="radio" class="btn-check" name="mode" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnradio3">Driving</label>
    </div>

    <div class="mt-2 ms-2">
    <button class="btn btn-primary" id="generate" type="submit" role="button">Get Directions</button><br/>
    </div>


    <!-- role = screen reader accessibility -->
    
    <div id="map">
    <!-- defer -> executes script after entire HTML document has been parsed -->
    <!-- API Key: AIzaSyA73JensVhK-yWRu_714pyhDPd4NNlHL7U -->
    <!-- https://maps.googleapis.com/maps/api/js?key=AIzaSyA73JensVhK-yWRu_714pyhDPd4NNlHL7U&callback=initMap&v=weekly -->
    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA73JensVhK-yWRu_714pyhDPd4NNlHL7U&callback=initMap&libraries=visualization,places&v=weekly"
      defer
    ></script> -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA73JensVhK-yWRu_714pyhDPd4NNlHL7U&libraries=places&callback=initMap&v=weekly"
      defer
    ></script>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>