<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Watchdog</title>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="./static/styles/style.css" />
    <script type="module" src="/static/js/index.js"></script>
    <!-- Modules are treated like functions that can be called and accessed by other pieces of code; 
    they can't be accessed from a file system but rather need to be run through a server; Live Server -->
  </head>


  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" href="./">WATCHDOG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold text-white" aria-current="page" href="./home">VIEW MAP</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link fw-bold text-white" href="./form">MAKE REPORT</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="mt-2 ms-2 pb-1 w-25">
      <h5 class="display-6 text-center">Create Route:</h5>
    </div>

    <div class="input-group mt-2 ms-2 w-25">
      <span class="input-group-text bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-crosshair" viewBox="0 0 16 16">
          <path d="M8.5.5a.5.5 0 0 0-1 0v.518A7.001 7.001 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7.001 7.001 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7.001 7.001 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7.001 7.001 0 0 0 8.5 1.018V.5Zm-6.48 7A6.001 6.001 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6.001 6.001 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6.002 6.002 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6.001 6.001 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1h-.48ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        </svg>
      </span>
      <input id="pac-input1" class="border-start-0 controls form-control" type="text" placeholder="Enter Current Location"/>
    </div>

    <div class="input-group mt-3 ms-2 w-25">
      <span class="input-group-text bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
      </span>
      <input id="pac-input2" class="border-start-0 controls form-control" type="text" placeholder="Enter Destination"/>
    </div>

    <div id="outer" class="mt-3">
      <div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
        <input value="WALKING" type="radio" class="btn-check" name="mode" id="btnradio1" autocomplete="off" checked>
        <label class="loc btn btn-lg btn-outline-secondary" for="btnradio1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-walking" viewBox="0 0 16 16">
            <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.75 1.75 0 0 1-.088.395l-.318.906.213.242a.75.75 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z"/>
            <path d="M6.25 11.745v-1.418l1.204 1.375.261.524a.75.75 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914l2.345-3.048Zm4.22-4.215-.494-.494.205-1.843a1.93 1.93 0 0 0 .006-.067l1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z"/>
          </svg>
        </label>
      
        <input value="BICYCLING" type="radio" class="btn-check" name="mode" id="btnradio2" autocomplete="off">
        <label class="loc btn btn-lg btn-outline-secondary" for="btnradio2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
            <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
          </svg>
        </label>
      
        <input value="DRIVING" type="radio" class="btn-check" name="mode" id="btnradio3" autocomplete="off">
        <label class="loc btn btn-lg btn-outline-secondary" for="btnradio3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
            <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
          </svg>
        </label>
      </div>
      
      <div class="inner ms-2">
        <button style="width:105%" class="btn btn-primary" id="generate" type="submit" role="button">Show Safe Routes</button>
      </div>
    </div>

    <div class="z-3 card" style="width: 18%;">
      <div class="card-body">
        <h5 class="card-title text-center">MAP SETTINGS</h5>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="heatMapToggle" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">View Heat Map</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Only Verified Reports</label>
        </div>
      </div>
    </div>
    
    <div class="ms-2 mt-4 w-25">
      <form method="POST" action="/submit">
        <legend class="text-center">Report A Crime Near You</legend>
        <div class="form-floating mb-3">
          <select class="form-select" id="crime" name="crime" aria-label="Floating label select example">
            <option selected>Type of Crime</option>
            <option value="Murder & Nonnegligent Manslaughter">Murder & Nonnegligent Manslaughter</option>
            <option value="Kidnapping/Abduction">Kidnapping/Abduction</option>
            <option value="Robbery">Robbery</option>
            <option value="Aggravated Assault">Aggravated Assault</option>
            <option value="Human Trafficking, Involuntary Servitude">Human Trafficking, Involuntary Servitude</option>
            <option value="Human Trafficking, Commercial Sex Arts">Human Trafficking, Commercial Sex Arts</option>
            <option value="Extortion/Blackmail">Extortion/Blackmail</option>
            <option value="Arson">Arson</option>
            <option value="Motor Vehicle Theft">Motor Vehicle Theft</option>
            <option value="Identity Theft">Identity Theft</option>
            <option value="Embezzlement">Embezzlement</option>
            <option value="False Pretenses/Swindle/Confidence Game">False Pretenses/Swindle/Confidence Game</option>
            <option value="Intimidation">Intimidation</option>
            <option value="Burglary/Breaking & Entering">Burglary/Breaking & Entering</option>
            <option value="All Other Larceny">All Other Larceny</option>
            <option value="Destruction/Damage/Vandalism of Property">Destruction/Damage/Vandalism of Property</option>
            <option value="Drug/Narcotic Violations">Drug/Narcotic Violations</option>
            <option value="Credit Card/Automated Teller Machine Fraud">Credit Card/Automated Teller Machine Fraud</option>
            <option value="Impersonation">Impersonation</option>
            <option value="Shoplifting">Shoplifting</option>
            <option value="Simple Assault">Simple Assault</option>
            <option value="Stolen Property Offenses">Stolen Property Offenses</option>
            <option value="Theft From Building">Theft From Building</option>
            <option value="Theft From Motor Vehicle">Theft From Motor Vehicle</option>
            <option value="Theft of Motor Vehicle Parts or Accessories">Theft of Motor Vehicle Parts or Accessories</option>
            <option value="Pocket-picking">Pocket-picking</option>
            <option value="Purse-snatching">Purse-snatching</option>
            <option value="Prostitution">Prostitution</option>
            <option value="Bribery">Bribery</option>
            <option value="Counterfeiting/Forgery">Counterfeiting/Forgery</option>
            <option value="Drug Equipment Violations">Drug Equipment Violations</option>
            <option value="Hacking/Computer Invasion">Hacking/Computer Invasion</option>
            <option value="Incest">Incest</option>
            <option value="Animal Cruelty">Animal Cruelty</option>
            <option value="Assisting or Promoting Prostitution">Assisting or Promoting Prostitution</option>
            <option value="Pornography/Obscene Material">Pornography/Obscene Material</option>
            <option value="Theft From Coin-Operated Machine or Device">Theft From Coin-Operated Machine or Device</option>
          </select>
          <label for="floatingSelect">Select category:</label>
        </div>
        <div class="row g-2 mb-3">
          <div style="width:46%">
            <div class="form-floating">
              <input type="number" class="form-control" id="victims" name="victims" placeholder="name@example.com">
              <label for="floatingInput">No. Of Victims</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" id="firearms" name="firearms">
                <option selected>Firearms Present</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <label for="floatingSelectGrid">Select category:</label>
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="controls form-control" id="location" name="location" placeholder="name@example.com">
          <label for="floatingInput">Location of Crime</label>
        </div>

        <div class="w-25 ms-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>


    <div id="map"></div>
    <!-- defer -> executes script after entire HTML document has been parsed -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA73JensVhK-yWRu_714pyhDPd4NNlHL7U&libraries=places,visualization&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>